body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

video{
width:95%;
max-height:400px;
background:black;
}

.channel{
background:#222;
margin:10px;
padding:15px;
border-radius:10px;
cursor:pointer;
}

.channel:hover{
background:#333;
}
