*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

header{
padding:15px;
background:#151515;
position:sticky;
top:0;
z-index:10;
}

header h1{
text-align:center;
font-size:28px;
margin-bottom:15px;
}

#search{
width:100%;
padding:12px;
border-radius:10px;
border:none;
font-size:16px;
outline:none;
}


#banner{

margin:15px;

height:180px;

background:#222;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

}


#banner img{

width:100%;

height:100%;

object-fit:cover;

}


#categories{

display:flex;

gap:10px;

padding:10px;

overflow-x:auto;

}


#categories button{

background:#222;

color:white;

border:none;

padding:10px 20px;

border-radius:25px;

}


#categories .active{

background:#e50914;

}


#channels{

display:grid;

grid-template-columns:

repeat(auto-fill,minmax(140px,1fr));

gap:15px;

padding:15px;

}


.channel{

background:#181818;

padding:12px;

border-radius:15px;

text-align:center;

}


.channel img{

width:80px;

height:80px;

object-fit:contain;

border-radius:10px;

background:white;

}


.channel h3{

font-size:14px;

margin-top:10px;

}


#playerModal{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:black;

z-index:100;

}


.hide{

display:none;

}


.playerHeader{

display:flex;

justify-content:space-between;

padding:15px;

}


#closePlayer{

background:red;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

}


#player{

width:100%;

height:90%;

background:black;

}

#premiumBox{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#1a1a1a;
padding:20px;
border-radius:12px;
width:90%;
max-width:350px;
z-index:9999;
}

#premiumBox input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:none;
}

#premiumBox button{
width:100%;
padding:10px;
background:#e50914;
color:white;
border:none;
border-radius:8px;
}
